<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <div>
        <h1>Chat View</h1>
        <div id="chat">
            <div id="messagesLog"></div>
            <input type="text" name="message" id="messageInput" placeholder="Message required">
            <button id="sendButton">Send</button>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>

</html>
