
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="profile">
    <h1>Welcome, {{session.user.first_name}} {{session.user.last_name}}</h1>
    <p>Age: {{session.user.age}}</p>
    <p>Email: {{session.user.email}}</p>

    <button id="viewCart">View Cart</button>
    <button id="searchProducts">Search Products</button>
    <button id="logout">Logout</button>
</div>
</body>
</html>